

<div ng-show="currentUser">

  Welcome {{currentUser.username}}
<div  ng-hide="currentUser.roles.indexOf('admin') != -1" class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">Account Summery</div>
      <div class="panel-body">
        <table class="table table-striped">
            <tr>
                Account Number:<td colspan="4">{{currentUser.accountNumber}}</td>
                Available Balance<td>{{currentUser.balance}}</td>
            </tr>
        </table>
      </div>
     </div>
    </div>
</div>
