<!-- ng-model="account.name"
ng-model="account.pin"
ng-model="account.type"
ng-model="account.balance" -->
<input
ng-model="accounts.name"
class="form-control"
  placeholder="Senthil Radhaakrishanan"/>
<input ng-model="accounts.pin"
  class="form-control"
  placeholder="1234"/>
	<select ng-model="accounts.type"   class="form-control"><option ng-value="checking">Checking</option>
								<option ng-value="savings">Savings</option></select>
  <input  ng-model="accounts.balance"
    class="form-control"
    placeholder="500.00"/>

<button
  ng-click="createAccount(accounts)"
  class="btn btn-success btn-block">

  Create Account

</button>
</body>
