<button
	ng-click="findAllTransactions()"
	class="btn btn-primary btn-block">

	Transactions

</button>
<button ng-click="findAllTransactionsByAccNo(toAccount)"
	class="btn btn-primary btn-block">

	Transactions

</button>

<div style="height:300px;">
	<div style="height:70px" id="anchor"></div>

	<table class="table table-bordered table-striped">
    <thead >
      <tr>
        <td>  Date-Time</td>        <td><a>Amount</a></td>        <td><a>Transaction Type</a></td>
      </tr>
    </thead>
    <tbody >
      <tr  ng-repeat="tx in transactions">
       <!-- <td>{{ tx.date }}</td> --><td></td>
        <td>{{ tx.fromAccount}}</td>          <td>{{ tx.transfertype }}</td>
      </tr>
    </tbody>

  </table>
</div>
