<input type="hidden" name="_method" value="put">
 <div class="form-inline"><label class="radio"><input class="form-control" form-control-sm type="radio" name="type" value="deposit">	Deposit</label>
	<label class="radio">	<input class="form-control iradio-inline input-sm" type="radio" name="type" value="withdraw">	Withdrawal	</label></div>
  PIN:<input class="form-control" type="text" name="pin" placeholder="Authetnication example: 1234">
  Amount:<input class="form-control radio-inline"  type="number" name="amount" placeholder="100.00">
  <button class="btn btn-success btn-block"  ng-click="transaction()">Submit Transaction</button>
