<input type="hidden" ng-model="transactions._method" value="put">
<input type="hidden" ng-model="transactions.id" ng-value={{currentUser.id}} >
<label class="radio-inline">Deposit<input type="radio" ng-model="transactions.type" value="deposit" ></label>
<label class="radio-inline">Withdrawl<input type="radio" ng-model="transactions.type" value="withdraw" ></label>
<br>
  PIN:<input class="form-control" type="text" ng-model="transactions.pin" placeholder="Authetnication, Ex: 1234">
  Amount:<input class="form-control"  type="number" ng-model="transactions.amount" placeholder="100.00">
  <button class="btn btn-success btn-block"  ng-click="transaction(transactions)">Submit Transaction</button>
