<input type="hidden" name="_method" value="put">
<input class="form-control" type="radio" name="type" value="deposit"></td>
					Deposit<input class="form-control" type="radio" name="type" value="withdraw">Withdrawal
  PIN:<input class="form-control" type="text" name="pin" placeholder="Authetnication example: 1234">
  Amount:<input class="form-control" type="number" name="amount" placeholder="100.00">
  <button class="btn btn-success btn-block"  ng-click="transaction()">Submit Transaction</button>
