<input  ng-model="transaction.toAccount"
  class="form-control"
  placeholder="Account Number"/>
  <input
    ng-model="transaction.transfertype"
    ng-value="debit" class="form-control"
    placeholder="transfertype"/>
<input
  ng-model="transaction.fromAccount"
  class="form-control"
  placeholder="Enter Benficiery A/C"/>
  <input
    ng-model="transaction.description"
    class="form-control"
    placeholder="Description"/>


<button
  ng-click="withdrawl(transaction)"
  class="btn btn-primary btn-block">

  Debit

</button>
